.wrapper {
  background: ~red;


}
 .box1{
   width: 100px;
   height: 100px;
   margin-left: inherit;200px;
   background-color: purple;
   transition-duration: 300ms;
   transition-property: all; width, background-color:
   border: 2px purple;
   border-radius:45%

 }

 .box1:hover{
   width:500px;
   background-color: mistyrose;
 }
